// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;400;700&display=swap');

@import 'common/mixins';

/* prettier-ignore */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, strong, em, img, b, u, i, ol, ul, li,
table, tbody, tfoot, thead, tr, th, td,
header, menu, nav, footer, article, aside {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

#app {
  font-family: Arial, 'Avenir', Helvetica, Arial, sans-serif;
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #ecbe57;
}

body {
  background: #1e1f24 url('../assets/bg-simple-1440.56.jpg') repeat-y center top / cover;
  background-attachment: fixed;
}

input {
  outline: none;
  box-sizing: border-box;
}

b {
  font-weight: 700;
}

// Typographics
.font-light {
  font-weight: 200;
}

.font-semibold {
  font-weight: 500;
}

b,
.font-bold {
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', 'Avenir', Helvetica, Arial, sans-serif;

  sup {
    font-size: x-small;
    color: #9db9d1;
  }
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #2c3e50;
  }
}

pre {
  font-family: monospace;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.text-center {
  text-align: center;
}

// Layout
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.self-left {
  margin-right: auto;
}

.self-right {
  margin-left: auto;
}

/////////////
// sprites //
/////////////
.a, .c {
  &:before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 16px;
    height: 32px;
    z-index: 1;
  }
}
.c {
  &:before {
    height: 24px;
  }
}

// double tiles
.a:before {
  background: transparent url('~@/assets/sprites/box-1.png') no-repeat 50% 100% / 16px 32px;
}
.c:before {
  background: transparent url('~@/assets/sprites/grass-3.png') no-repeat 50% 100% / 16px 24px;
}
// Normal tiles
.A {
  background: transparent url('~@/assets/sprites/bucket-1.png') no-repeat 50% 50% / 16px 16px;
}
.b {
  background: transparent url('~@/assets/sprites/bush-1.png') no-repeat 50% 50% / 16px 16px;
}
.B {
  background: transparent url('~@/assets/sprites/dirt-1.png') no-repeat 50% 50% / 16px 16px;
}
.C {
  background: transparent url('~@/assets/sprites/grass-4.png') no-repeat 50% 50% / 16px 16px;
}
.d {
  background: transparent url('~@/assets/sprites/tent-1.png') no-repeat 50% 50% / 16px 16px;
}
.D {
  background: transparent url('~@/assets/sprites/torch-1.gif') no-repeat 50% 50% / 16px 16px;
}
.e {
  background: transparent url('~@/assets/sprites/entrance.png') no-repeat 50% 50% / 16px 16px;
}
.E {
  background: transparent url('~@/assets/sprites/mushroom-1.png') no-repeat 50% 50% / 16px 16px;
}
.f {
  background: transparent url('~@/assets/sprites/potato-1.png') no-repeat 50% 50% / 16px 16px;
}
.F {
  background: transparent url('~@/assets/sprites/potato-2.png') no-repeat 50% 50% / 16px 16px;
}
.g {
  background: transparent url('~@/assets/sprites/grass-1.png') no-repeat 50% 50% / 16px 16px;
}
.G {
  background: transparent url('~@/assets/sprites/grass-2.png') no-repeat 50% 50% / 16px 16px;
}
.h {
  background: transparent url('~@/assets/sprites/house-1.png') no-repeat 50% 50% / 16px 16px;
}
.H {
  background: transparent url('~@/assets/sprites/log-1.png') no-repeat 50% 50% / 16px 16px;
}
.i {
  background: transparent url('~@/assets/sprites/rock-1.png') no-repeat 50% 50% / 16px 16px;
}
.I {
  background: transparent url('~@/assets/sprites/rock-2.png') no-repeat 50% 50% / 16px 16px;
}
.m {
  background: transparent url('~@/assets/sprites/mountain-1.png') no-repeat 50% 50% / 16px 16px;
}
.r {
  background: transparent url('~@/assets/sprites/road-1.png') no-repeat 50% 50% / 16px 16px;
}
.R {
  background: transparent url('~@/assets/sprites/road-2.png') no-repeat 50% 50% / 16px 16px;
}
.t {
  background: transparent url('~@/assets/sprites/tree-1.png') no-repeat 50% 50% / 16px 16px;
}
.T {
  background: transparent url('~@/assets/sprites/tree-2.png') no-repeat 50% 50% / 16px 16px;
}

/////////////
// kobolds //
/////////////
.k01 {
  background: transparent url('~@/assets/sprites/k01.png') no-repeat 50% 50% / 16px 16px;
}
.k02 {
  background: transparent url('~@/assets/sprites/k02.png') no-repeat 50% 50% / 16px 16px;
}
.k03 {
  background: transparent url('~@/assets/sprites/k03.png') no-repeat 50% 50% / 16px 16px;
}
.k04 {
  background: transparent url('~@/assets/sprites/k04.png') no-repeat 50% 50% / 16px 16px;
}
.k05 {
  background: transparent url('~@/assets/sprites/k05.png') no-repeat 50% 50% / 16px 16px;
}
.k06 {
  background: transparent url('~@/assets/sprites/k06.png') no-repeat 50% 50% / 16px 16px;
}
.k07 {
  background: transparent url('~@/assets/sprites/k07.png') no-repeat 50% 50% / 16px 16px;
}
.k08 {
  background: transparent url('~@/assets/sprites/k08.png') no-repeat 50% 50% / 16px 16px;
}
.k09 {
  background: transparent url('~@/assets/sprites/k09.png') no-repeat 50% 50% / 16px 16px;
}
.k10 {
  background: transparent url('~@/assets/sprites/k10.png') no-repeat 50% 50% / 16px 16px;
}
// 11-20
.k11 {
  background: transparent url('~@/assets/sprites/k11.png') no-repeat 50% 50% / 16px 16px;
}
.k12 {
  background: transparent url('~@/assets/sprites/k12.png') no-repeat 50% 50% / 16px 16px;
}
.k13 {
  background: transparent url('~@/assets/sprites/k13.png') no-repeat 50% 50% / 16px 16px;
}
.k14 {
  background: transparent url('~@/assets/sprites/k14.png') no-repeat 50% 50% / 16px 16px;
}
.k15 {
  background: transparent url('~@/assets/sprites/k15.png') no-repeat 50% 50% / 16px 16px;
}
.k16 {
  background: transparent url('~@/assets/sprites/k16.png') no-repeat 50% 50% / 16px 16px;
}
.k17 {
  background: transparent url('~@/assets/sprites/k17.png') no-repeat 50% 50% / 16px 16px;
}
.k18 {
  background: transparent url('~@/assets/sprites/k18.png') no-repeat 50% 50% / 16px 16px;
}
.k19 {
  background: transparent url('~@/assets/sprites/k19.png') no-repeat 50% 50% / 16px 16px;
}
.k20 {
  background: transparent url('~@/assets/sprites/k20.png') no-repeat 50% 50% / 16px 16px;
}
// 21-30
.k21 {
  background: transparent url('~@/assets/sprites/k21.png') no-repeat 50% 50% / 16px 16px;
}
.k22 {
  background: transparent url('~@/assets/sprites/k22.png') no-repeat 50% 50% / 16px 16px;
}
.k23 {
  background: transparent url('~@/assets/sprites/k23.png') no-repeat 50% 50% / 16px 16px;
}
.k24 {
  background: transparent url('~@/assets/sprites/k24.png') no-repeat 50% 50% / 16px 16px;
}
.k25 {
  background: transparent url('~@/assets/sprites/k25.png') no-repeat 50% 50% / 16px 16px;
}
.k26 {
  background: transparent url('~@/assets/sprites/k26.png') no-repeat 50% 50% / 16px 16px;
}
.k27 {
  background: transparent url('~@/assets/sprites/k27.png') no-repeat 50% 50% / 16px 16px;
}
.k28 {
  background: transparent url('~@/assets/sprites/k28.png') no-repeat 50% 50% / 16px 16px;
}
.k29 {
  background: transparent url('~@/assets/sprites/k29.png') no-repeat 50% 50% / 16px 16px;
}
.k30 {
  background: transparent url('~@/assets/sprites/k30.png') no-repeat 50% 50% / 16px 16px;
}
// 31-33
.k31 {
  background: transparent url('~@/assets/sprites/k31.png') no-repeat 50% 50% / 16px 16px;
}
.k32 {
  background: transparent url('~@/assets/sprites/k32.png') no-repeat 50% 50% / 16px 16px;
}
.k33 {
  background: transparent url('~@/assets/sprites/k33.png') no-repeat 50% 50% / 16px 16px;
}